Repository PetCareAi/dba, changes with the owners that CODEOWNERS names for each.
All owners: @admin-petcare, @lead-dev-petcare, @senior-dev-petcare, @dba-lead, @devops-petcare, @config-manager, @security-lead, @database-admin, @tech-writer, @release-manager, @frontend-lead, @data-analyst, @build-engineer, @packaging-lead, @qa-lead, @ai-engineer, @sre-engineer

CODEOWNERS:

# CODEOWNERS - Definição de responsáveis por partes do código
# Este arquivo define quem deve revisar mudanças em diferentes partes do repositório

# Administradores globais do projeto
* @admin-petcare @lead-dev-petcare

# Aplicação principal
app.py @admin-petcare @senior-dev-petcare @dba-lead

# Configurações críticas do sistema
.streamlit/ @admin-petcare @devops-petcare
*.toml @admin-petcare @config-manager
*.env @admin-petcare @security-lead

# Scripts de banco de dados
database/ @dba-lead @senior-dev-petcare @admin-petcare
*.sql @dba-lead @database-admin

# Documentação
*.md @tech-writer @admin-petcare
docs/ @tech-writer @admin-petcare

# Configurações de CI/CD
.travis.yml @devops-petcare @admin-petcare
.github/ @devops-petcare @admin-petcare
release-scripts/ @devops-petcare @release-manager

# Hooks de Git
.githooks/ @devops-petcare @senior-dev-petcare
.husky/ @devops-petcare @frontend-lead

# Notebooks e análises
notebooks/ @data-analyst @senior-dev-petcare

# Configurações de build e packaging
Makefile @devops-petcare @build-engineer
MANIFEST.in @devops-petcare @packaging-lead
requirements.txt @senior-dev-petcare @admin-petcare

# Testes
tests/ @qa-lead @senior-dev-petcare

# Configurações específicas por funcionalidade
# Módulo de autenticação
*auth* @security-lead @senior-dev-petcare

# Módulo de banco de dados
*database* @dba-lead @senior-dev-petcare

# Módulo de relatórios
*relatorio* @data-analyst @senior-dev-petcare

# Módulo de IA
*ai* @ai-engineer @senior-dev-petcare

# Arquivos de configuração sensíveis
secrets.toml @admin-petcare @security-lead
*.key @security-lead @admin-petcare
*.pem @security-lead @admin-petcare

# Scripts de deployment
deploy* @devops-petcare @admin-petcare
*deploy* @devops-petcare @admin-petcare

# Configurações de monitoramento
*monitoring* @sre-engineer @devops-petcare
*metric* @sre-engineer @data-analyst

# Logs e debugging
*log* @sre-engineer @senior-dev-petcare
*debug* @senior-dev-petcare @admin-petcare

Create MANIFEST.in
  MANIFEST.in
Owners: @devops-petcare, @packaging-lead

Create Makefile
  Makefile
Owners: @devops-petcare, @build-engineer

Create .gitmodules
  .gitmodules
Owners: @admin-petcare, @lead-dev-petcare

Create README.md
  notebooks/README.md
Owners: @data-analyst, @senior-dev-petcare

Create README.md
  release-scripts/README.md
Owners: @devops-petcare, @release-manager

Create pre-commit
  .githooks/pre-commit
Owners: @devops-petcare, @senior-dev-petcare

Create pre-push
  pre-push
Owners: @admin-petcare, @lead-dev-petcare

Create commit-msg
  .githooks/commit-msg
Owners: @devops-petcare, @senior-dev-petcare

Create pre-push
  .githooks/pre-push
Owners: @devops-petcare, @senior-dev-petcare

Create pre-commit
  .husky/pre-commit
Owners: @devops-petcare, @frontend-lead

Create pre-push
  .husky/pre-push
Owners: @devops-petcare, @frontend-lead

Create commit-msg
  .husky/commit-msg
Owners: @devops-petcare, @frontend-lead

Delete README-resume.md
  README-resume.md
Owners: @tech-writer, @admin-petcare

Rename Troubleshooting.md to TROUBLESHOOTING.md
  TROUBLESHOOTING.md
Owners: @tech-writer, @admin-petcare

Rename maintaining.md to MAINTAINING.md
  MAINTAINING.md
Owners: @tech-writer, @admin-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Delete .husky directory
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Owners: @devops-petcare, @frontend-lead

Delete notebooks directory
  notebooks/README.md
Owners: @data-analyst, @senior-dev-petcare

Delete release-scripts directory
  release-scripts/README.md
Owners: @devops-petcare, @release-manager

Delete .ignore
  .ignore
Owners: @admin-petcare, @lead-dev-petcare

Update .version
  .version
Owners: @admin-petcare, @lead-dev-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Create LICENSE
  LICENSE
Owners: @admin-petcare, @lead-dev-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Create credenciais.txt
  credenciais.txt
Owners: @ai-engineer, @senior-dev-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Update README.md
  README.md
Owners: @tech-writer, @admin-petcare

Update contributors.yml
  contributors.yml
Owners: @admin-petcare, @lead-dev-petcare

Update COPYRIGHT
  COPYRIGHT
Owners: @admin-petcare, @lead-dev-petcare

Update SECURITY.md
  SECURITY.md
Owners: @tech-writer, @admin-petcare
